textarea:focus, input:focus, select:focus {
    outline: none;
    background-color: #EAEAEA;
}

.contact__title {
    text-align: left;
    margin-left: 30px;
    color: #707070;
    font-weight: 400;
}

.contact__form {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
}

.contact__form__1 {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40vw;
}

.contact__form__2 {
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    width: 60vw;
}

.contact__form__1__item1 {
    flex-grow: 1;
    margin-bottom: 1.25vw;
}

.contact__form__1__item2 {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 1.25vw;
}

.contact__form__1__item3 {
    flex-grow: 1;
    width: 100%;
}

.contact__form__input1 {
    border: 1px solid #707070;
    border-radius: 6px;
    color: #707070;
    padding: 12px 20px;
    width: calc( 50% - 82px );
    margin-right: 1.25vw;
}

.contact__form__input2 {
    border: 1px solid #707070;
    border-radius: 6px;
    color: #707070;
    padding: 12px 20px;
    width: calc( 50% - 82px );
}

.contact__form__input__message {
    border: 1px solid #707070;
    border-radius: 6px;
    color: #707070;
    padding: 12px 20px;
}

.contact__form__input__submit {
    border: 1px solid #707070;
    border-radius: 6px;
    color: #707070;
    padding: 12px 20px;
}

.contact__form__input__scroll {
    width: calc( 100% - 80px + 1.25vw );
    border: 1px solid #707070;
    border-radius: 6px;
    color: #707070;
    padding: 12px 20px;
}

.contact__form__input__mail {
    width: calc( 100% - 122px + 1.25vw );
    border: 1px solid #707070;
    border-radius: 6px;
    color: #707070;
    padding: 12px 20px;
}

textarea {
    resize: none;
    width: 70%;
}

.contact__infos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    color: #707070;
}

.contact__infos__schedule {
    width: 50%;
    align-self: center;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.contact__infos__schedule__table {
    margin-right: 25px;
    text-align: left;
}

.contact__infos__phone {
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
    align-self: center;
    padding-left: 25px;
}

.contact__infos__phone p {
    margin-left: 25px;
}

.contact__infos__phone__image {
    display: flex;
}

@media screen and (max-width: 640px) {
    .contact__form {
        display: initial;
    }
    .contact__form__1 {
        width: 100vw;
    }
    .contact__form__input1 {
        width: 50vw;
        margin-right: 0;
        margin-bottom: 1.25vw;
    }
    .contact__form__input2 {
        width: 50vw;
    }
    .contact__form__input__mail {
        width: 50vw;
    }
    .contact__form__input__scroll {
        width: calc(50% + 42px);
        margin-bottom: 1.25vw;
    }
    .contact__form__2 {
        display: initial;
    }
    .contact__form__input__message {
        width: 50vw
    }
    .contact__form__input__submit {
        width: calc(50vw + 42px);
    }
    .contact__infos {
        display: initial;
    }
    .contact__infos__schedule {
        width: initial;
        position: relative;
        z-index: 1;
        margin-right: auto;
        margin-left: auto;
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding-top: 2em;
    }

    .contact__infos__schedule:before {
        content: "";
        position: absolute;
        left: 25%;
        top: 0;
        height: 1px;
        width: 50%;
        border-top: 1px solid #D6490B;
    }
    .contact__infos__schedule__table {
        margin-right: 0;
        width: 90%;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 600;
    }
    .contact__infos__phone {
        border-left: initial;
        width: initial;
        padding-left: 0;
        width: initial;
        height: initial;
        padding-bottom: 2em;
        position: relative;
        z-index: 1;
    }
    .contact__infos__phone:before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        height: 1px;
        width: 50%;
        border-bottom: 1px solid #D6490B;
    }
    .contact__infos__phone__image {
        display: initial;
        width: 100%;
    }
    .contact__infos__phone p {
        margin-left: 0;
        font-weight: 600;
    }
}