.banner {
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../../assets/banner.jpg);
    opacity: 0.84;
    width: 100%;
    height: 100vh;
    filter: alpha(opacity=84);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.banner__homest {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.banner__quote {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    color: #707070;
}

.banner__triangle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute; 
    top: 90%;
    left: 50%;
    margin-left: -54px;
    margin-top: -55.5px;
    opacity: 0.48;
    filter: alpha(opacity=48);
}

@media screen and (max-width: 640px) {
    .banner {
        height: 15vh;
    }
    .banner__homest {
        left: -30%;
        width: 35%;
        transform: initial;
        top: 2vh;
    }
    .banner__triangle {
        display: none;
    }
    .banner__quote {
        font-size: 0.9em;
        top: 50%;
        text-align: left;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 425px) {
    .banner {
        height: 10vh;
    }
    .banner__quote {
        top: 30%;
    }
    .banner__homest {
        top: 1.8vh;
    }
}